.modal-overlay {
  width: 100vw;
  height: 100vh;
  background-color: rgba(25, 25, 25, 0.5);
  /* z-index: 2; */
  position: fixed;
  display: flex;
  top: 0;
  align-items: center;
  justify-content: center;
}

.modal {
  background-color: white;
  width: 350px;
  padding: 10px 30px;
  border-radius: 25px;
  position: relative;
  transform: translateY(-100%);
  opacity: 0;
  animation: slideIn 0.3s forwards;
}

@keyframes slideIn {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.modal-header {
  font-size: 25px;
  font-weight: bold;
  margin-top: 15px;
}

.close-button {
  position: absolute;
  font-family: Arial, Helvetica, sans-serif;
  top: 0px;
  right: 12.5px;
  cursor: pointer;
  color: black;
  font-size: 35px;
}

.close-button:hover
{
  color: red;
}
